.App-header {
  background-color: rgb(245, 245, 245);
  height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.no-select-pointer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#garage-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-bottom: 20px;
}

#garage-top-bar {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding-top: 10px;
  padding-left: 10px;
}

.top-nav-btn {
  margin-right: 10px;
  font-size: calc(5px + 2vmin);
}

.top-nav-btn:hover {
  color: darkblue;
}

.color-select:hover {
  position: relative;
  box-shadow: 0 0 0 3px lightblue;
  z-index: 1;
}

.remove-button:hover {
  color: darkblue;
}

.dark-btn {
  background: inherit;
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.light-btn {
  background: lightblue;
  color: black;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.light-btn:hover {
  background: lightskyblue;
}